In [1]:
import json
import pandas as pd
import sys

In [2]:
df_country = pd.read_json("country.json")  ### read data 
df_city = pd.read_json("city.json")
df_language = pd.read_json("countrylanguage.json")
        
print(len(df_country))

239

In [3]:
df =df_language.merge(df_country[df_country.Continent == 'North America'], 
                   left_on='CountryCode', 
                   right_on="Code", how='inner')

In [4]:
ans_df = df[df.IsOfficial == "T"][["Name","Language"]]

In [5]:
ans_df

                                 Name     Language
0                               Aruba        Dutch
4                            Anguilla      English
5                Netherlands Antilles        Dutch
7                Netherlands Antilles   Papiamento
9                 Antigua and Barbuda      English
12                             Belize      English
16                            Bermuda      English
18                           Barbados      English
21                             Canada      English
23                             Canada       French
34                         Costa Rica      Spanish
35                               Cuba      Spanish
36                     Cayman Islands      English
40                 Dominican Republic      Spanish
42                         Guadeloupe       French
44                          Greenland       Danish
45                          Greenland  Greenlandic
50                          Guatemala      Spanish
54                           Honduras      Spanish
55                              Haiti       French
60              Saint Kitts and Nevis      English
62                        Saint Lucia      English
66                             Mexico      Spanish
69                         Montserrat      English
71                         Martinique       French
74                          Nicaragua      Spanish
81                             Panama      Spanish
83                        Puerto Rico      Spanish
85                        El Salvador      Spanish
86          Saint Pierre and Miquelon       French
87           Turks and Caicos Islands      English
92                      United States      English
104  Saint Vincent and the Grenadines      English
105           Virgin Islands, British      English
106              Virgin Islands, U.S.      English

In [13]:
df = df_country.groupby(["Continent","GNP"]).size().to_frame("size").reset_index().sort_values(["Continent","GNP"])

In [14]:
df

Continent      GNP
Africa         0.0         3
               6.0         1
               60.0        1
               283.0       1
               293.0       1
                          ..
South America  72949.0     1
               95023.0     1
               102896.0    1
               340238.0    1
               776739.0    1
Length: 221, dtype: int64

In [29]:
df_test = df_country[df_country["Continent"] == "North America"]

df_code_1 = df_test["Code"].tolist()

In [30]:
df_test = df_language[df_language.IsOfficial == "T"]

df_code_2 = df_test['CountryCode'].tolist()

In [32]:
for i in df_code_1:
    if i not in df_code_2:
        print("yes")

yes
yes
yes
yes
yes

In [15]:
def checkIfDuplicates_1(listOfElems):
    ''' Check if given list contains any duplicates '''
    if len(listOfElems) == len(set(listOfElems)):
        return False
    else:
        return True
    
result = checkIfDuplicates_1(df_code)
print(result)

False

In [5]:
df_Count = df_test['CountryCode'].tolist()

  CountryCode    Language IsOfficial  Percentage
0         ABW       Dutch          T         5.3
1         ABW     English          F         9.5
2         ABW  Papiamento          F        76.7
3         ABW     Spanish          F         7.4
4         AFG     Balochi          F         0.9
5         AFG        Dari          T        32.1
6         AFG      Pashto          T        52.4
7         AFG  Turkmenian          F         1.9
8         AFG       Uzbek          F         8.8
9         AGO        Ambo          F         2.4

In [24]:
df_test = df_language[df_language.IsOfficial == "T"]

df_code = df_test['CountryCode'].tolist()
result_1 = checkIfDuplicates_1(df_code)
print(result_1)

True

In [7]:
print(len(df_test))

238

In [22]:
df = df_language[df_language.IsOfficial =="T"].merge(df_country[df_country.Continent == 'North America'], 
                   left_on='CountryCode', 
                   right_on="Code", how='inner')

In [25]:
#df

In [18]:
    ## join two dataframe based on ID and capital
df = df_test.merge(df_country[df_country.Continent == 'North America'], 
                   left_on='CountryCode', 
                   right_on="Code", how='inner')
    ### select countries and captical city name
    
df  = df[df['IsOfficial'] == "T"]
df_ans = df[['Name','Language']]

In [19]:
#df  = df[df['IsOfficial'] == "T"]   
#df_ans = df[['Name','Language']]
        
print(len(df_ans))

35

In [ ]:
if __name__ == "__main__":
    if (len(sys.argv)!=4):# if user does not pass an input
        print ('Usage python filename csv_file_name')
        sys.exit(1)
        
    try:
        df_country = pd.read_json(sys.argv[1])  ### read data 
        df_city = pd.read_json(sys.argv[2])
        df_language = pd.read_json(sys.argv[3])
        
        ## join two dataframe based on countryCode and code
        df = df_language.merge(df_country[df_country.Continent == 'North America'], 
                   left_on='CountryCode', 
                   right_on="Code", how='inner')
    ### select countries and captical city name
    
        df  = df[df['IsOfficial'] == "T"] 
        df_ans = df[['Name','Language']]
        
        print(df_ans)
        
    
    except ValueError:
        print('error occur')